/* css styles */
p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  }

.category, .listing-author, .listing-categories, .listing-date, .listing-description, .quarto-category, .quarto-title-meta-heading {
  font-family: sans-serif;
  font-weight: 500;
}